[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-docx = "*"
flask = "*"
matplotlib = "*"
gunicorn = "*"
requests = "*"
pillow = "*"
raven = {version = "*", extras = ["flask"]}


[dev-packages]
black = "==18.6b4"
numpy = "*"
pandas = "*"
geopandas = "*"
fiona = "*"
pytest = "*"
datatiles = {git = "https://github.com/brendan-ward/datatiles.git"}